<section class="acerca-de-nosotros">
    <h1 class="acerca-de-nosotros__title">Acerca de Nosotros</h1>
    <div class="acerca-de-nosotros__content grid">
        <div class="row">
            <div class="col-6">
                <div class="acerca-de-nosotros__top-right-image"></div>
            </div>
            <div class="col-6">
                <div class="acerca-de-nosotros__text">
                    <h2 class="acerca-de-nosotros__subtitle">Nuestra Historia</h2>
                    <p class="acerca-de-nosotros__paragraph">
                        Desde nuestros inicios, Asados a Cabrón nació con una visión clara: llevar la auténtica experiencia de asados al corazón de nuestra comunidad. Hemos crecido junto a nuestros clientes, convirtiéndonos en un punto de encuentro para disfrutar de momentos inolvidables rodeados de buena comida y grandes amigos.
                    </p>
                </div>
            </div>
        </div>      
        <div class="row">
            <div class="col-6">
                <div class="acerca-de-nosotros__text">
                    <h2 class="acerca-de-nosotros__subtitle">Nuestros Valores</h2>
                    <p class="acerca-de-nosotros__paragraph">
                        Creemos en la calidad, la honestidad y el compromiso. Cada plato que servimos es el resultado de un arduo trabajo en equipo, seleccionando los mejores cortes de carne y preparándolos con amor y cuidado. Nuestra meta es superar tus expectativas en cada visita.
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="acerca-de-nosotros__bottom-left-image"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="acerca-de-nosotros__new-image" style="background-image: url('/src/assets/imagenes/Render3.jpeg');"></div>
            </div>
            <div class="col-6">
                <div class="acerca-de-nosotros__text">
                    <h2 class="acerca-de-nosotros__subtitle">Nuestra Visión</h2>
                    <p class="acerca-de-nosotros__paragraph">
                         Nuestra visión es convertirnos en el lugar predilecto para los amantes de los asados. Nos esforzamos por innovar constantemente, manteniendo la esencia tradicional que nos define y ofreciendo experiencias gastronómicas que alimentan el alma.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>