<footer class="site-footer">
    <div class="social-icons">
        <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://whatsapp.com" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
    <div class="rights">© 2024 Asados a Cabron. Todos los derechos reservados.</div>
</footer>