<div class="gallery">
    <div class="image-container">
        <img src="/src/assets/imagenes/Render1.jpeg" alt="asado 1">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asado.webp" alt="asado 2">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados2.jpg" alt="asado 3">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados3.jpg" alt="asado 4">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados4.jpg" alt="asado 5">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados5.avif" alt="asado 6">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados6.avif" alt="asado 7">
    </div>
    <div class="image-container">
        <img src="/src/assets/imagenes/asados7.avif" alt="asado 8">
    </div>
</div>