<header class="site-header">
    <div class="logo">
        <img src="/src/assets/imagenes/Logo_asados_a_cabron.png" alt="Logo de la Empresa">
    </div>
    <nav class="nav-links">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="menu.html">Menú</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="reservaciones.html">Reservaciones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="ubicacion.html">Ubicación</a></li>
            <li><a href="acercade.html">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="promociones.html">Promociones</a></li>
            <li><a href="testimonios.html">Testimonios</a></li>
        </ul>
    </nav>
    <div id="menu-icon" class="menu-toggle">
        <i class="fas fa-bars"></i> <!-- Icono de menú hamburguesa -->
    </div>
</header>

