<section class="testimonios">
  <div class="testimonios__container">
    <h2 class="testimonios__title">Nuestras Novedades</h2>
    <p class="testimonios__subtitle">Comentarios de Clientes</p>
    <div class="testimonios__slider">
      <div class="testimonios__list">
        <div class="testimonios__item">
          <img src="/src/assets/imagenes/costillas.jpeg" alt="Testimonio 1" class="testimonios__item__image">
          <p class="testimonios__text">"Este servicio fue increíble, superó todas mis expectativas."</p>
          <p class="testimonios__author">José Humberto</p>
        </div>
        <div class="testimonios__item">
          <img src="/src/assets/imagenes/Chuleta.jpeg" alt="Testimonio 2" class="testimonios__item__image">
          <p class="testimonios__text">"Un trato excepcional y resultados excelentes. ¡Recomendado al 100%!"</p>
          <p class="testimonios__author">Marco Martínez</p>
        </div>
        <div class="testimonios__item">
          <img src="/src/assets/imagenes/Entraña.jpeg" alt="Testimonio 3" class="testimonios__item__image">
          <p class="testimonios__text">"¡Fantástico! Me sentí muy bien atendido y el resultado fue impresionante."</p>
          <p class="testimonios__author">Carlos García</p>
        </div>
        <div class="testimonios__item">
          <img src="/src/assets/imagenes/Pechuga.jpeg" alt="Testimonio 4" class="testimonios__item__image">
          <p class="testimonios__text">"Excelente atención y comida espectacular. Totalmente recomendado."</p>
          <p class="testimonios__author">Williams Castellanos</p>
        </div>
      </div>
    </div>
  
  </div>
</section>