<main>
    <div class="ubicacion">
        <p>ANILLO PERIFERICO, CONTIGUO A LA SUZUKI, TEGUCIGALPA</p>
        <p>LUNES A VIERNES 12:00-23:00 / SÁBADO A DOMINGO 12:00-1:00</p>

        <iframe 
            class="mapa" 
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d307.26021781572763!2d-87.19069038939679!3d14.045628162272008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1732910759082!5m2!1ses!2shn" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
    </div>

  
</main>