<main>
    <div class="ubicacion">
        <p>16 Calle SE, Barrio Río de Piedras, San Pedro Sula</p>
        <p>LUNES A VIERNES 12:00-23:00 / SÁBADO A DOMINGO 12:00-1:00</p>

        <iframe 
            class="mapa" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.468162341365!2d-88.0334848241337!3d15.501159658548344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6fcc784b804b21%3A0xa03c7c0019f6ef71!2s16%20Calle%20SE%2C%20Barrio%20R%C3%ADo%20de%20Piedras%2C%20San%20Pedro%20Sula%2C%20Honduras!5e0!3m2!1ses-419!2s!4v1700000000000" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
    </div>

  
</main>